:root {
   --bg-color: #0e1736;
   --text-color: #ffffff;
   --primary-color: #0f1a41;
   --secondary-color: #fbb70e;
   --footer-color: #04175a;
   --nav-color: #212228;
   --light-grey: #f2f0ee;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* padding-bottom: 1000px; */
   background-color: var(--bg-color);
   color: var(--text-color);
   margin: 0;
   font-family: "Roboto", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

button {
   font-family: "Roboto", sans-serif;
}

h1 {
   color: var(--secondary-color);
   font-size: 28px;
}

h2 {
   font-size: 20px;
}

h3 {
   /* font-size: px; */
}

h5 {
   font-size: 18px;
}

p {
   font-size: 14px;
   line-height: 24px;
}

.sectionTitle {
   margin-bottom: 45px;
   position: relative;
}

.sectionTitle::after {
   position: absolute;
   top: 110%;
   left: 0;
   content: "";
   width: 40px;
   height: 3px;
   background-color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
   h1,
   h2 {
      font-size: 38px;
   }

   h5 {
      font-size: 20px;
      font-weight: 400;
   }

   p {
      font-size: 16px;
      line-height: 32px;
   }

   .sectionTitle::after {
      width: 80px;
   }
}

@media screen and (min-width: 900px) {
   p {
      font-size: 18px;
   }
}
